.event {
  font-family: 'Montserrat';
  padding: 12px 22px;
  border-radius: 15px;
  width: 285px;
  background-color: #E9E9E9;

  &__title {
    font-weight: 600;
    font-size: 24px;
  }
}