.header {
  font-family: 'Montserrat', 'Courier New', Courier, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin-right: 181px;
    font-size: 40px;
    display: flex;
  }

  &__timezoneLabel {
    font-size: 22px;
    display: flex;
  }

  &__timezone {
    font-weight: 500;
    font-size: 18px;
    display: flex;
  }
}